body {
    margin-bottom: 100px;
    min-width: 280px;
    font-size: 1.2rem;
    font-family: Arial;

    p {
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}
